.home {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(175, 156, 243, 0) 7.92%,
    #af9cf3 86.48%
  );
  background-blend-mode: multiply;
  position: relative;
}
.logo {
  font-size: larger;
}
.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.quiz {
  color: #ff3b3c;
  font-weight: 800;
  font-size: 20vw;
  padding: 5vw;
  background-color: white;
  border-radius: 50%;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.btn {
  width: 80vw;
  background: #ff3b3f;
  padding: 15px 0px;
  text-align: center;
  border-radius: 2em;
  border-style: none;
  color: white;
  font-weight: 800;
  font-size: larger;
}
